<!DOCTYPE html>
{{- $params := .Site.Params }}
<html lang="{{ .Lang }}" {{ if $params.disableDarkMode }}class="nodarkmode"{{ end }}>
  {{ partial "head" . }}
  <body>
    {{ partialCached "nav" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer" . }}
    {{ partialCached "sprites" . }}
   <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: process.env.FIREBASE_APP_API_KEY,
      authDomain: "barts-travel-guide.firebaseapp.com",
      projectId: "barts-travel-guide",
      storageBucket: "barts-travel-guide.appspot.com",
      messagingSenderId: "982806559847",
      appId: "1:982806559847:web:0a613f33bbdcb4ae6028c2",
      measurementId: "G-79G914FV5B"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
   </script>
  </body>
</html>
